<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl py-4">
        <h4 class="app-page-title">Edit Customer</h4>
     


        <form class="admin-form ">
            <div class="row">
                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label for="exampleInputEmail1">Name <sup>*</sup></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label for="exampleInputEmail1">Email <sup>*</sup></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
            </div>




            <div class="row">
                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label for="exampleInputEmail1">Phone Number <sup>*</sup></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label for="exampleInputEmail1">Status <sup>*</sup></label>
                    <div class="custom-control custom-radio">


                        <div class="form-check " style="margin: 0;">
                            <input class="custom-control-input" type="radio" name="StatusCheckbox" checked
                                id="enableStatusCheckbox">
                            <label class="form-check-label checkbox-label" for="enableStatusCheckbox">
                                Active
                            </label>
                        </div>
                        <div class="form-check" style="margin: 0;">
                            <input class="custom-control-input" type="radio" name="StatusCheckbox"
                                id="disableStatusCheckbox">
                            <label class="form-check-label checkbox-label" for="disableStatusCheckbox">
                                InActive
                            </label>
                        </div>

                        

                    </div>
                </div>

            </div>



            <div class="row">
                <div class="form-group col-lg-6  col-12 col-sm-12 btn-area d-flex justify-content-between ">
                    <button type="submit" class="btn app-btn-primary btn-submit">Update</button>
                    <button type="submit" class="btn app-btn-secondary btn-block btn-cancel">cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>