<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl py-4">
        <h1 class="app-page-title">Edit Profile</h1>
      
<h6>Change User Language</h6>

        <form class="admin-form ">
            <div class="row">
                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label>Select language</label><br>
                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                    
                    <select  class="form-select form-select-sm form-control ">
                        <option value="1" selected>English</option>
                        <option value="2">Arabic</option>
                       
                      </select>



                </div>

                
            </div>
            <hr>    
            <h6>Change User Password</h6>

            <div class="row mt-0">
                <div class="form-group col-lg-6  col-12 col-sm-12">
                   
                    <div class="form-check form-switch">
                        <input class="form-check-input custom-control-input" type="checkbox" id="flexSwitchCheckDefault">
        
                      </div>
                </div>

               
            </div>


            <div class="row mt-0">
                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label for="exampleInputEmail1">Current Password</label>
                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                    <div  class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-secondary darbak-password" darbakPassword type="button" id="button-addon1"><span><i class="fa fa-eye-slash"></i></span></button>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label for="exampleInputEmail1">New Password</label>
                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                    <div  class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-secondary darbak-password" darbakPassword type="button" id="button-addon1"><span><i class="fa fa-eye-slash"></i></span></button>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6  col-12 col-sm-12">
                    <label for="exampleInputEmail1">Confirm New Password </label>
                    <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                    <div  class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btn-outline-secondary darbak-password" darbakPassword type="button" id="button-addon1"><span><i class="fa fa-eye-slash"></i></span></button>
                      </div>
                </div>
            </div>




            <!--         <div class="row">
                <div class="form-group col-6">
                    <label for="exampleInputEmail1">Email address</label>
                    <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <label for="setting-input-3" class="form-label">Business Email Address</label>
                    <input type="email" class="form-control" id="setting-input-3" value="hello@companywebsite.com">
                </div>
            </div>


            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
              </div>
           

              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio11" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio11">Toggle this custom radio</label>
              </div>
              
              <div class="custom-control custom-radio">
                <input type="radio" id="customRadio23" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio23">Or toggle this other custom radio</label>
              </div>


              <div class="custom-control custom-check">
                <input class="custom-control-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="custom-control-input" for="flexCheckChecked">
                  Checked checkbox
                </label>
              </div> -->

            <div class="row">
                <div class="form-group col-lg-6  col-12 col-sm-12 btn-area d-flex justify-content-between ">
                    <button type="submit" class="btn app-btn-primary btn-submit">Update</button>
                    <button type="submit" class="btn app-btn-secondary btn-block btn-cancel">cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>