<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl py-4 ">
        <div class="row ">
            <div class="col-12 d-flex justify-content-between type-area">
                <h1 class="app-page-title">Roles</h1>
                <button routerLink='/admin/users/roles/new' class="btn app-btn-primary">
                    <span><i class="fa-solid fa-plus"></i></span>
                    Add New Role</button>

            </div>
        </div>


        <div class="row">
            <div class="col-12 list ">

                <table class="table app-table-hover mb-0 text-left">
                    <thead>
                        <tr>
                            <th class="cell">Role</th>
                            <th class="cell">Creater</th>

                            <th class="cell">Creation At</th>
                            <th class="cell">Last Updated Date</th>
                            <th class="cell">Operations</th>

                        </tr>

                    </thead>

                    <tbody>
                        <!-- <hr style="margin: 0"> -->
                        <tr *ngFor="let item of [1,2,3,4,5];let i = index">
                            <td class="cell">Role {{i+1}}</td>
                            <td class="cell">User {{i+1}}</td>

                            <!-- <td class="cell"><span class="truncate"><i class="fa-solid fa-screwdriver-wrench"></i></span></td> -->
                            <!-- <td class="cell" style="color: var(--darbak-green)">Active</td> -->
                            <td class="cell">10-02-2020</td>
                            <td class="cell">11-02-2020</td>

                            <td class="cell">
                                <a routerLink='/admin/users/roles/edit/5'>
                                    <i title="Edit" class="fa-solid fa-pencil"></i>
                                </a>
                                <a routerLink='/admin/users/roles/assign'>
                                    <i title="User List" class="fa-solid fa-users-rectangle"></i>
                                </a>
                                <i title="Delete" class="fa-solid fa-trash"></i>
                            </td>

                        </tr>


                    </tbody>
                </table>


            </div>
        </div>






    </div>
</div>