


<div class="list adds-listing" style="background-color:var(--darbak-bg); margin-top: 0;">
    <table style="white-space:nowrap;table-layout: auto !important;;" class="table app-table-hover mb-0 text-left">
       
       
        <tbody>
          
            <tr *ngFor="let item of [1,2];let i = index">
                <td style="padding: 0" class="cell d-flex">  <div class="card-image">
                    <img src="./../../../../../assets/images/car2.jpg" alt="">
                </div>
                <p> Car.jpg <br /><span style="font-size: 0.8rem">20-01-2020 * 354 kb</span></p>
            
            
            </td>
               
                <td class="cell">10-02-2020</td>
                <td class="cell">11-02-2020</td>
                <td class="cell">Islam Qraine</td>

                <td style="text-align: end" class="cell"> 
                    
                  <i title="Edit" class="fa-solid fa-pencil"></i>
                
                <i title="Delete" class="fa-solid fa-trash"></i>
                </td>
            
            </tr>
           

        </tbody>
    </table>
</div>