<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl py-4 ">
        <div class="row ">
            <div class="col-12 d-flex justify-content-between">

                <h1 class="app-page-title">New Service Requests</h1>
               
               
            </div>
        </div>


        <div class="row">
            <div class="col-12 list ">

                    <table class="table app-table-hover mb-0 text-left">
                        <thead>
                            <tr>
                                <th class="cell">Entity / English</th>
                                <th class="cell">Entity / Arabic</th>
                                <th class="cell">Service Owner</th>
                                <th class="cell">Request Date</th>
                                <th class="cell">Status</th>
                                <th class="cell">Operations</th>
                               
                            </tr>
                           
                        </thead>
                       
                        <tbody>
                            <!-- <hr style="margin: 0"> -->
                            <tr *ngFor="let item of [1,2,3,4,5];let i = index">
                                <td class="cell">Service Request {{i+1}}</td>
                                <td class="cell">Service Request {{i+1}}</td>

                                <td class="cell">Owner {{i+1}}</td>
                                <td class="cell">10-02-2020</td>
                                <td class="cell" style="color: var(--darbak-green)">Active</td>
                         

                                <td class="cell"> 
                                  <i style="color: var(--darbak-green);font-size: 1.2rem;"  title="Approve" class="fa-solid fa-check"></i>
                                <!-- <i title="Delete" class="fa-solid fa-trash"></i> -->
                                <i style="font-size: 1.2rem;" title="Decline" class="fa-solid fa-xmark"></i>
                                <!-- <i title="Reject" class="fa-duotone fa-xmark"></i> -->
                                </td>
                            
                            </tr>
                           
            
                        </tbody>
                    </table>
                
               
            </div>
        </div>

    </div>
</div>